@import "_title_mixins";
@import "_title_variable";

.consumer-policy-title {
  margin: 0px;
  @include font-style-title(54px, 58px, 900);
  font-family: messina_sans_black !important;
  width: 100%;
  padding: 80px 80px 80px 182px !important;
  color: $_title_navi_blue;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.175);
  @include media-breakpoint-down(lg) {
    padding: 60px 60px 60px 80px !important;
  }
  @include media-breakpoint-down(md) {
    padding: 48px 48px 48px 38px !important;
    @include font-style-title(42px, 45px, 900);
  }
  @include media-breakpoint-down(sm) {
    padding: 20px 20px 20px 20px !important;

    @include font-style-title(26px, 30px, 700);
  }
}

.termsOfUse-header {
  padding: 80px 80px 80px 182px !important;

  color: $_title_navi_blue;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.175);
  .terms-description {
    margin: 0px;
    @include font-style-title(16px, 26px, 400);
    @include media-breakpoint-down(sm) {
      @include font-style-title(12px, 16px, 400);
    }
  }
  .desc-margin {
    margin: 30px 0px;
    @include media-breakpoint-down(sm) {
      margin: 15px 0px;
    }
  }
  h1 {
    font-family: messina_sans_black !important;
    @include font-style-title(54px, 58px, 900);
    @include media-breakpoint-down(md) {
      @include font-style-title(42px, 45px, 900);
    }
    @include media-breakpoint-down(sm) {
      @include font-style-title(26px, 30px, 700);
    }
  }
  ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
    padding: 0px;
  }
  @include media-breakpoint-down(lg) {
    padding: 60px 60px 60px 80px !important;
  }
  @include media-breakpoint-down(md) {
    padding: 48px 48px 48px 38px !important;
  }
  @include media-breakpoint-down(sm) {
    padding: 20px 20px 20px 20px !important;
  }
}

.consumer-policy-text {
  width: 100%;
  padding: 100px 291px 100px 291px;

  li {
    @include font-style-title(20px, 32px, 400);
    color: $_title_Teal;
    span {
      @include font-style-title(20px, 32px, 400);
      color: $dark_grey;
      @include media-breakpoint-down(sm) {
        @include font-style-title(16px, 26px, 400);
      }
    }
  }
  @include media-breakpoint-down(lg) {
    padding: 80px 120px 80px 120px;
  }
  @include media-breakpoint-down(md) {
    padding: 60px 97px 60px 97px;
  }
  @include media-breakpoint-down(sm) {
    padding: 30px 20px 30px 20px;
  }
}

.rich-text-normal {
  @include font-style-title(20px, 28px, 400);
  margin: 20px 0px;
  color: $dark_grey;
  letter-spacing: 0px;
  @include media-breakpoint-down(sm) {
    @include font-style-title(16px, 26px, 400);
    margin: 10px 0px;
  }
}
p:nth-of-type(1) {
  margin: 0px;
}

.rich-text-bold {
  margin: 20px 0px;
  letter-spacing: 0px;
  @include font-style-title(20px, 28px, 400);
  color: $dark_grey;
  @include media-breakpoint-down(sm) {
    margin: 15px 0px;
    @include font-style-title(16px, 26px, 400);
  }
}
.rich-text-title {
  @include font-style-title(24px, 28px, 700);
  color: $_title_navi_blue;
  letter-spacing: 0px;
  margin: 20px 0px;
  @include media-breakpoint-down(sm) {
    margin: 15px 0px;
    @include font-style-title(16px, 26px, 700);
  }
}

.legal-text-title {
  @include font-style-title(24px, 28px, 700);
  color: $_title_navi_blue;
  letter-spacing: 0px;
  margin-bottom: 20px;
  @include media-breakpoint-down(sm) {
    margin-bottom: 15px;
    @include font-style-title(16px, 26px, 700);
  }
}

.termsOfuse-text {
  .rich-text-title {
    margin: 20px 0px;
    @include media-breakpoint-down(sm) {
      margin: 10px 0px;
    }
  }
}

address {
  margin: 0px;
  .rich-text-normal {
    margin: 8px 0px;

    @include media-breakpoint-down(sm) {
      margin: 3px 0px;
    }
  }
}

.rich-text-number {
  margin: 20px 0;
  color: $_title_navi_blue;
  @include font-style-title(20px, 28px, 700);
  @include media-breakpoint-down(sm) {
    margin: 10px 0;
    @include font-style-title(16px, 26px, 700);
  }
}

.termsOfUse-navlink {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #ffffff;
  a {
    color: $_title_navi_blue;
  }

  li:before {
    content: "";
    border-color: transparent $_title_Teal;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1.5em;
    top: 1em;
    position: relative;
  }

  &:after {
    content: "";
    flex: auto;
  }

  .terms-link {
    width: 33.33%;
    padding: 0.5em 0.5em 0.5em 1.5em;
    box-sizing: border-box;
    @include media-breakpoint-down(md) {
      width: 50%;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
}
