//****** Color Variables ******//

$dark_grey: #3d3935;
$md-grey: #5a6872;
$lite-grey: #f4f4f4;
$_title_navi_blue: #002b49;
$_title_coral: #f96459;
$_title_light_Teal: #e6f6f6;
$_title_light_Topaz: #fff7ec;
$_title_Teal: #00a6a0;
$_title_light_Grey: #f7f9fc;
$_title_border:#C7C9C7;

//******** Images & Icons *********//

$Elp-bg-Img: "../assets/static/images/title/ELP-Rail-Background.svg";
$Right-Arrow: "../assets/static/icons/title/Arrow-Right.svg";
$RightArrowBold: "../assets/static/icons/title/Arrow-Right-Bold.svg";

//******** Font Family *********//

$messina-sans: "../assets/static/fonts/MessinaSansWeb-Regular.woff";
$messina-sans-ff: messina_sans;
$messina-sans-black: "../assets/static/fonts/MessinaSansWeb-Black.woff";
$messina-sans-semi-bold: "../assets/static/fonts/MessinaSansWeb-Bold.woff";

//****** Custom Screen Size ******//

$xsm: 300px;

//************ End **************//
